<h1>Companies</h1>

<% companies = Company.all %>

<p> There are <%= companies.count%> companies in our database </p>

<ul>
    <% for company in companies %>
        <li><%= company["name"] %></li>
    <% end%>
    